.playboom{
    font-size: 50px;
    cursor: pointer;
}

.backboom{
    font-size: 50px;
    cursor: pointer;
}
.backboom:hover{
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}

.boomnext{
    font-size: 50px;
    cursor: pointer;
}
.boomnext:hover{
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}
.playboom:hover {
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}


.boombottom {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
}

.boombox{
    height: 600px;
    position: fixed;
    bottom: 0;
}

.boom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boomhead{
    margin-top: 10px;
    font-size: 80px;
    font-family: 'Cormorant Garamond', serif;
}

.boomtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Poiret One', cursive;
}

.subboom{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}