.playboom{
    font-size: 50px;
    cursor: pointer;
}

.backboom{
    font-size: 50px;
    cursor: pointer;
}
.backboom:hover{
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}

.boomnext{
    font-size: 50px;
    cursor: pointer;
}
.boomnext:hover{
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}
.playboom:hover {
    font-size: 53px;
    color: darkgray;
    cursor: pointer;
}


.boombottom {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
}

.boombox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: fixed;
    bottom: 10%;
}

.boom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boomhead{
    margin-top: 10px;
    font-size: 80px;
}