
.home {
    color: black;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.sub{
    margin-top: 7vh;
    font-size: 40px;
    
}

.typewriter {
    overflow: hidden;
    border-right: .07em solid black;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 3.1s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 54%
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: black;
    }
}
.timeline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

}
.time{
    padding-right: 5px;
    width: 200px;
    cursor: pointer;
}
.recend{
    padding-left: 17px;
}

.recend:hover{
    animation: spin 1s infinite linear;
}
.radend:hover{
    transform: translateY(-15px);
}
.walkend:hover{
    transform: translateY(-10px);
}
.phonoend:hover{
    transform: translateY(-15px);
}

.boomend:hover{
    animation: shake 2s ease infinite;
}
.ipodend:hover{
    transform: translateY(-10px);
}
.spotend:hover{
    transform: translateY(-15px);
}
.corner{
    font-size: 50px;
    position: fixed;
    top: 5%;
    right: 5%;
}