.playipod{
    cursor: pointer;
}

.ipodnext{
    cursor: pointer;
}
.centered{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.ipod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cont{
    background-color: #efeeea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.rect{
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(164, 161, 161, 1) 73%);
    border-radius: 40px;
    border: 2px solid rgba(164, 161, 161, 1);
    box-shadow: 2px 2px 3px 4px  lightgray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.iscreen{
    z-index: 10;
    background-color: rgb(54, 52, 52);
    width: 85%;
    height: 44%;
    margin-top: 15px;
    border-radius: 10px;
    border: 7px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menupage{
    background-color: white;
    width: 85%;
    height: 44%;
    margin-top: 15px;
    border-radius: 10px;
    border: 7px solid black;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-size: 15px;
}
.therest{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.curplay{
    background-color: white;
    width: 85%;
    height: 44%;
    margin-top: 15px;
    border-radius: 10px;
    border: 7px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 19px;
}

.menus{
    z-index: 20;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    
}
.album0{
    height: 100%;
    width: 50%;
    z-index: 5;
}
.album1 {
    height: 100%;
    width: 50%;
    z-index: 6;
}
.album2 {
    height: 100%;
    width: 50%;
    z-index: 7;
}
.album3 {
    height: 100%;
    width: 50%;
    z-index: 8;
}
.album4 {
    height: 100%;
    width: 50%;
    z-index: 9;
}



.bar{
    display:flex;
    justify-content: space-between;
    background-color: lightgray;
    border: 1px outset gray;
}
.batt{
    display: flex;
    color: #6ac6fb;
    justify-content: space-between;
}
.terry{
    width: 15px;
    height: 10px;
    background-color: #82c65e;
}

.wheel{
    display: flex;
    height: 170px;
    width: 170px;
    background-color: lightgray;
    border-radius: 50%;
    margin-bottom: 12px;
    border: 1px solid gray;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
.bar{
    font-size: 12px;
}
.selected{
    background-color: lightblue;

}
.inner{
    z-index: 10;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(164, 161, 161, 1) 73%);
    border: 1px solid gray;
    cursor: pointer;
}
.menu:hover{
    color: white;
}
.playipod:hover{
    color: white;
}
.centerrow{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.back{
    margin-right: 10px;
}
.back:hover{
    color: white;
}
.forward{
    margin-left: 10px;
}
.forward:hover{
    color: white;
}


.apple{
    height: 50px;
}
.menu{
    cursor: pointer;
}

.middle{
    display: flex;
    justify-content: space-evenly;
}

.playalb{
    height: 120px;
    width: 120px;
}
.songinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.smaller{
    font-size: 12px;
}
.playerbar{
    display: flex;
    justify-content: center;
    font-size: 13px;
}
.endbar{
    width: 120px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    margin-left: 5px;
    margin-right: 5px;
}

.ipodhead {
    margin-top: 10px;
    font-size: 80px;
    font-family: 'Cormorant Garamond', serif;
}
.ipodtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: 'Poiret One', cursive;
}

.back{
    cursor: pointer;
}
.subipod{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}

