
.rad{
    height: 300px;
    width: 300px;
    display: flex;
    position: fixed;
    bottom: 20%;
}



.bounce2 {
    animation: bounce2 2s ease infinite;
}

@keyframes bounce2 {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    60% {
        transform: translateY(-15px);
    }
}

.shake {
    animation: shake 2s ease infinite;
    animation-delay: 17.4s;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
    }
}
@keyframes bounceInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    60% {
        opacity: 1;
        transform: translateY(30px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}


.changeColor{
    height: 100%;
    width: 100%;
    background-color: white;
    animation-iteration-count: 15;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-name: changeColor;
    animation-iteration-count: infinite;
    animation-delay: 33.8s;
    animation-duration: 2s;
    background-size: cover;
    background-repeat: repeat-y;
    margin-bottom: 1px;
}

@keyframes changeColor {
    0% {
        background-color: #efeeea;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: #efeeea;
    }
}
.radbottom {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
}
.backrad {
    font-size: 50px;
    cursor: pointer;
}

.radnext {
    font-size: 50px;
    cursor: pointer;
}

.playrad {
    font-size: 50px;
    cursor: pointer;
}
.backrad:hover{
    font-size: 53px;
    color: darkgray;
}
.playrad:hover {
    font-size: 53px;
    color: darkgray;
}
.radnext:hover {
    font-size: 53px;
    color: darkgray;
}




.radio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.radhead{
    margin-top: 10px;
    font-size: 80px;
    font-family: 'Cormorant Garamond', serif;
}
.radtext{
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    margin-top: 10px;
}

.subrad{
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}
.radslideleft{
    animation: radslidelef 2s forwards;
}
@keyframes radslidelef {
    from {
        margin-left: 0%;
    }

    to {
        margin-left: -200%;
    }

.radslideright{
    animation: radslideright 2s forwards;
}

@keyframes radslideright {
    from {
        margin-right: 0%;
    }

    to {
        margin-right: -200%;
    }
}

.leftright{
    animation: leftright 2s forwards;
}
@keyframes leftright {
    from {
        margin-left: -200%;
    }

    to {
        margin-left: 0%;
    }
}