.playrec{
    font-size: 50px;
    cursor: pointer;
}

.recnext{
    font-size: 50px;
    cursor: pointer;
}


@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: scale(.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.05);
    }

    70% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

.spin {
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.recbottom {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
}

.backrec{
    font-size: 50px;
    cursor: pointer;
}

.record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rechead{
    margin-top: 10px;
    font-size: 80px;
}

.rec {
    height: 350px;
    width: 350px;
    position: fixed;
    bottom: 14%;
}
.backrec:hover {
    font-size: 53px;
    color: darkgray;
}

.playrec:hover {
    font-size: 53px;
    color: darkgray;
}

.recnext:hover {
    font-size: 53px;
    color: darkgray;
}

.rectext{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}