.playwalk{
    font-size: 50px;
    cursor: pointer;
}

.walknext{
    font-size: 50px;
    cursor: pointer;
}
.backwalk{
font-size: 50px;
    cursor: pointer;
}

.walk{
    height: 800px;

}

.walkbottom {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    width: 100%;
}