@import './styles/reset.css';
@import './styles/home.scss';
@import './styles/phono.scss';
@import './styles/record.scss';
@import './styles/ipod.scss';
@import './styles/radio.scss';


html {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #efeeea;
}

.play {
    padding-top: 10px;
    font-size: 55px;
    cursor: pointer;
}

h1 {
    margin-top: 30vh;
    font-size: 100px;
}

.fade {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.hidden {
    display: none;
}

.fadeout {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 1.3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

